<div class="flex justify-center items-center gap-8">
    <div class="flex flex-col justify-center items-center gap-8 text-center">
        <h6 class="font-medium">YOU PICKED</h6>
        <app-player-selection [type]="playerSelection()!" class="w-52 h-52" [showBubbles]="matchResultState() == matchResults.playerWin"></app-player-selection>
    </div>
    <div class="flex flex-col justify-center items-center gap-4">
        @if (showMatchResult()) {
            @if (matchResultState() == matchResults.draw) {
                <h5 class="text-white">DRAW</h5>
            } @else if (matchResultState() == matchResults.playerWin) {
                <h5 class="text-white">YOU WIN</h5>
            } @else {
                <h5 class="text-white">YOU LOSE</h5>
            }
    
            <button class="px-8 py-2 bg-white text-black font-medium hover:bg-gray-300 rounded" (click)="palyAgain.emit()">PLAY AGAIN</button>
        }
    </div>
    <div class="flex flex-col justify-center items-center gap-8 text-center">
        <h6 class="font-medium">THE HOUSE PICKED</h6>
        <app-player-selection [type]="aiSelection()!" class="w-52 h-52" [showBubbles]="matchResultState() == matchResults.playerLose"></app-player-selection>
    </div>
</div>